html {
    scroll-behavior: smooth;
}

a {
    color: black;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
}

.underline.is-warning {
    text-decoration-color: #ffd754;
}

.underline.is-danger {
    text-decoration-color: #c96b68;
}

.hover-link-animation {
    display: inline-block;
    position: relative;
}

.hover-link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-link-animation.is-success::after {
    background-color: #50C878;
}

.hover-link-animation.is-warning::after {
    background-color: #ffd754;
}

.hover-link-animation.is-danger::after {
    background-color: #c96b68;
}

.hover-link-animation.is-info::after {
    background-color: #4169E1;
}

.hover-link-animation.is-purple::after {
    background-color: blueviolet;
}

.profile-pic {
    filter: drop-shadow(0 0 15px #91908d);
}